specification/2.1/appdf-description.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified"
    version="1.0">
    <xsd:annotation>
        <xsd:documentation>AppDF description.xml schema</xsd:documentation>
        <xsd:documentation>Project home: http://www.github.com/onepf/appdf</xsd:documentation>
        <xsd:documentation>Author: Vassili Philippov, Anastasia Karimova</xsd:documentation>
        <xsd:documentation>License: http://www.apache.org/licenses/LICENSE-2.0</xsd:documentation>
    </xsd:annotation>

    <xsd:element name="application-description-file" type="type-application-description-file"/>

    <xsd:complexType name="type-application-description-file">
        <xsd:sequence>
            <xsd:element name="application" type="type-application"/>
        </xsd:sequence>
        <xsd:attribute name="version" type="xsd:positiveInteger" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="type-application">
        <xsd:sequence>
            <xsd:element name="categorization" type="type-categorization"/>
            <xsd:element name="description" type="type-description"/>
            <xsd:element name="description-localization" maxOccurs="unbounded" minOccurs="0"
                type="type-descriptionlocalization"/>
            <xsd:element name="content-description" type="type-contentdescription"/>
            <xsd:element name="availability" minOccurs="0" type="type-availability"/>
            <xsd:element name="price" minOccurs="0" type="type-price"/>
            <xsd:element name="in-app-purchases" minOccurs="0" type="type-inapppurchases"/>
            <xsd:element name="apk-files" type="type-apkfiles"/>
            <xsd:element name="requirements" minOccurs="0" type="type-requirements"/>
            <xsd:element name="testing-instructions" minOccurs="0" type="type-testinginstructions"/>
            <xsd:element name="consent" minOccurs="0" type="type-consent"/>
            <xsd:element name="customer-support" type="type-customersupport"/>
            <xsd:element name="store-specific" minOccurs="0" type="type-storespecific"/>
        </xsd:sequence>
        <xsd:attribute name="platform" type="type-application-attr-platform" use="required"/>
        <xsd:attribute name="package" type="type-application-attr-package" use="required"/>
        <xsd:attribute name="distribution-type" default="production" type="type-application-attr-distributiontype"/>
    </xsd:complexType>

    <xsd:complexType name="type-categorization">
        <xsd:sequence>
            <xsd:element name="type" type="type-categorization-type"/>
            <xsd:element name="category" type="xsd:string"/>
            <xsd:element name="subcategory" minOccurs="0" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="type-categorization-type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="application|game"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="type-description">
        <xsd:sequence>
            <xsd:element name="texts" type="type-description-texts"/>
            <xsd:element name="images" type="type-description-images"/>
            <xsd:element name="videos" minOccurs="0" type="type-description-videos"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="type-description-texts">
        <xsd:sequence>
            <xsd:element name="title" maxOccurs="unbounded" type="xsd:string"/>
            <xsd:element name="keywords" minOccurs="0" type="xsd:string"/>
            <xsd:element name="short-description" maxOccurs="unbounded" minOccurs="0" type="xsd:string"/>
            <xsd:element name="full-description" type="type-description-texts-fulldescription"/>
            <xsd:element name="features" minOccurs="0" type="type-description-texts-features"/>
            <xsd:element name="recent-changes" minOccurs="0" type="xsd:string"/>
            <xsd:element name="privacy-policy" minOccurs="0" type="type-description-texts-privacypolicy"/>
            <xsd:element name="eula" minOccurs="0" type="type-description-texts-eula"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="type-description-texts-fulldescription" mixed="true">
        <xsd:sequence minOccurs="0">
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="skip"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="type-description-texts-features">
        <xsd:sequence>
            <xsd:element name="feature" maxOccurs="5" minOccurs="3" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="type-description-texts-eula">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="href" type="xsd:anyURI" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="type-description-texts-privacypolicy">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="href" type="xsd:anyURI" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="type-description-images">
        <xsd:sequence>
            <xsd:element name="app-icon" maxOccurs="unbounded" type="type-image"/>
            <xsd:element name="large-promo" minOccurs="0" type="type-image"/>
            <xsd:element name="small-promo" minOccurs="0" type="type-image"/>
            <xsd:element name="screenshots" type="type-description-images-screenshots"/>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:complexType name="type-description-images-screenshots">
        <xsd:sequence>
            <xsd:element name="screenshot" maxOccurs="unbounded" minOccurs="2"
                type="type-description-images-screenshots-screenshot"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="type-description-images-screenshots-screenshot">
        <xsd:simpleContent>
            <xsd:extension base="type-image">
                <xsd:attribute name="index" type="xsd:positiveInteger" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="type-description-videos">
        <xsd:sequence>
            <xsd:element name="youtube-video" minOccurs="0" type="type-attr-youtubeid"/>
            <xsd:element name="video-file" maxOccurs="unbounded" minOccurs="0" type="type-localfile"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="type-application-attr-platform">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="android|tizen"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="type-application-attr-package">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="([_a-zA-Z0-9\-]+\.)+[_a-zA-Z0-9\-]+"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="type-description-attr-language">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[a-z][a-z]|[a-z][a-z]\-[A-Z][A-Z]"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="type-attr-youtubeid">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[a-zA-Z0-9_\-]{11}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="type-descriptionlocalization">
        <xsd:sequence>
            <xsd:element name="texts" minOccurs="0" type="type-descriptionlocalization-texts"/>
            <xsd:element name="images" minOccurs="0" type="type-descriptionlocalization-images"/>
            <xsd:element name="videos" minOccurs="0" type="type-descriptionlocalization-videos"/>
        </xsd:sequence>
        <xsd:attribute name="language" type="type-description-attr-language" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="type-descriptionlocalization-texts">
        <xsd:sequence>
            <xsd:element name="title" maxOccurs="unbounded" minOccurs="0" type="xsd:string"/>
            <xsd:element name="keywords" minOccurs="0" type="xsd:string"/>
            <xsd:element name="short-description" maxOccurs="unbounded" minOccurs="0" type="xsd:string"/>
            <xsd:element name="full-description" minOccurs="0" type="type-description-texts-fulldescription"/>
            <xsd:element name="features" minOccurs="0" type="type-description-texts-features"/>
            <xsd:element name="recent-changes" minOccurs="0" type="xsd:string"/>
            <xsd:element name="privacy-policy" minOccurs="0" type="type-description-texts-privacypolicy"/>
            <xsd:element name="eula" minOccurs="0" type="type-description-texts-eula"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="type-descriptionlocalization-images">
        <xsd:sequence>
            <xsd:element name="app-icon" maxOccurs="unbounded" minOccurs="0" type="type-image"/>
            <xsd:element name="large-promo" minOccurs="0" type="type-image"/>
            <xsd:element name="small-promo" minOccurs="0" type="type-image"/>
            <xsd:element name="screenshots" minOccurs="0" type="type-description-images-screenshots"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="type-descriptionlocalization-videos">
        <xsd:sequence>
            <xsd:element name="youtube-video" minOccurs="0" type="xsd:string"/>
            <xsd:element name="video-file" maxOccurs="unbounded" minOccurs="0" type="type-localfile"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="type-contentdescription">
        <xsd:sequence>
            <xsd:element name="content-rating" type="type-contentdescription-contentrating"/>
            <xsd:element name="rating-certificates" minOccurs="0" type="type-contentdescription-ratingcertificates"/>
            <xsd:element name="content-descriptors" minOccurs="0" type="type-contentdescription-contentdescriptors"/>
            <xsd:element name="included-activities" minOccurs="0" type="type-contentdescription-includedactivities"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="type-contentdescription-contentrating">
        <xsd:restriction base="xsd:positiveInteger">
            <xsd:pattern value="3|6|10|13|17|18"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="type-contentdescription-ratingcertificates">
        <xsd:sequence>
            <xsd:element name="rating-certificate" maxOccurs="unbounded"
                type="type-contentdescription-ratingcertificates-ratingcertificate"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="type-contentdescription-ratingcertificates-ratingcertificate">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="type-contentdescription-ratingcertificates-attr-type" use="required"/>
                <xsd:attribute name="certificate" type="type-localfile"/>
                <xsd:attribute name="mark" type="type-localfile"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:simpleType name="type-contentdescription-ratingcertificates-attr-type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="PEGI|ESRB|GRB|CERO|DEJUS|FSK"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="type-contentdescription-contentdescriptors">
        <xsd:sequence>
            <xsd:element name="cartoon-violence" type="type-contentdescription-contentdescriptors-element"/>
            <xsd:element name="realistic-violence" type="type-contentdescription-contentdescriptors-element"/>
            <xsd:element name="bad-language" type="type-contentdescription-contentdescriptors-element"/>
            <xsd:element name="fear" type="type-contentdescription-contentdescriptors-element"/>
            <xsd:element name="sexual-content" type="type-contentdescription-contentdescriptors-element"/>
            <xsd:element name="drugs" type="type-contentdescription-contentdescriptors-element"/>
            <xsd:element name="gambling-reference" type="type-contentdescription-contentdescriptors-element"/>
            <xsd:element name="alcohol" type="type-contentdescription-contentdescriptors-element"/>
            <xsd:element name="smoking" type="type-contentdescription-contentdescriptors-element"/>
            <xsd:element name="discrimination" type="type-contentdescription-contentdescriptors-element"/>
            <xsd:element name="nazi-reference" type="type-contentdescription-contentdescriptors-element"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="type-contentdescription-contentdescriptors-element">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="no|light|strong"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="type-contentdescription-includedactivities">
        <xsd:sequence>
            <xsd:element name="in-app-billing" type="type-yesno"/>
            <xsd:element name="gambling" type="type-yesno"/>
            <xsd:element name="advertising" type="type-yesno"/>
            <xsd:element name="user-generated-content" type="type-yesno"/>
            <xsd:element name="user-to-user-communications" type="type-yesno"/>
            <xsd:element name="account-creation" type="type-yesno"/>
            <xsd:element name="personal-information-collection" type="type-yesno"/>
            <xsd:element name="web-browser-or-search-engine" type="type-yesno"/>
            <xsd:element name="user-location-sharing" type="type-yesno"/>
            <xsd:element name="user-info-with-third-parties-sharing" type="type-yesno"/>
            <xsd:element name="user-to-user-content-exchange" type="type-yesno"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="type-availability">
        <xsd:sequence>
            <xsd:element name="countries" minOccurs="0" type="type-availability-countries"/>
            <xsd:element name="period" minOccurs="0" type="type-availability-period"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="type-availability-countries">
        <xsd:sequence>
            <xsd:element name="include" maxOccurs="unbounded" minOccurs="0" type="type-attr-country"/>
            <xsd:element name="exclude" maxOccurs="unbounded" minOccurs="0" type="type-attr-country"/>
        </xsd:sequence>
        <xsd:attribute name="only-listed" type="type-yesno" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="type-availability-period">
        <xsd:sequence>
            <xsd:element name="since" minOccurs="0" type="type-attr-date"/>
            <xsd:element name="until" minOccurs="0" type="type-attr-date"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="type-attr-country">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Z][A-Z]"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="type-attr-date">
        <xsd:attribute name="year" type="type-attr-year" use="required"/>
        <xsd:attribute name="month" type="type-attr-month" use="required"/>
        <xsd:attribute name="day" type="type-attr-day" use="required"/>
    </xsd:complexType>

    <xsd:simpleType name="type-attr-year">
        <xsd:restriction base="xsd:positiveInteger">
            <xsd:minInclusive value="2007"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="type-attr-month">
        <xsd:restriction base="xsd:positiveInteger">
            <xsd:minInclusive value="1"/>
            <xsd:maxInclusive value="12"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="type-attr-day">
        <xsd:restriction base="xsd:positiveInteger">
            <xsd:minInclusive value="1"/>
            <xsd:maxInclusive value="31"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="type-price">
        <xsd:sequence>
            <xsd:element name="base-price" minOccurs="0" type="xsd:decimal" />
            <xsd:element name="local-price" maxOccurs="unbounded" minOccurs="0"
                type="type-price-localprice" />
            <xsd:element name="trial-version" minOccurs="0" type="type-price-trialversion" />
        </xsd:sequence>
        <xsd:attribute name="free" type="type-yesno" use="required" />
    </xsd:complexType>

    <xsd:complexType name="type-price-localprice">
        <xsd:simpleContent>
            <xsd:extension base="xsd:decimal">
                <xsd:attribute name="country" type="type-attr-country" use="required" />
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:simpleType name="type-attr-currency">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Z][A-Z][A-Z]" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="type-price-trialversion">
        <xsd:attribute name="full-version" type="type-application-attr-package" />
    </xsd:complexType>

    <xsd:complexType name="type-apkfiles">
        <xsd:choice maxOccurs="unbounded">
            <xsd:element name="apk-file" type="type-apkfile"/>
        </xsd:choice>
    </xsd:complexType>

    <xsd:complexType name="type-apkfile">
        <xsd:simpleContent>
            <xsd:extension base="type-localfile">
                <xsd:attribute name="main-exp-file" type="type-localfile" use="optional"/>
                <xsd:attribute name="patch-exp-file" type="type-localfile" use="optional"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="type-requirements">
        <xsd:sequence>
            <xsd:element name="features" minOccurs="0" type="type-requirements-features"/>
            <xsd:element name="supported-languages" minOccurs="0" type="type-requirements-supportedlanguages"/>
            <xsd:element name="supported-devices" minOccurs="0" type="type-requirements-supporteddevices"/>
            <xsd:element name="supported-resolutions" minOccurs="0" type="type-requirements-supportedresolutions"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="type-requirements-features">
        <xsd:sequence>
            <xsd:element name="root" minOccurs="0" type="type-yesno"/>
            <xsd:element name="gms" minOccurs="0" type="type-yesno"/>
            <xsd:element name="online" minOccurs="0" type="type-yesno"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="type-requirements-supportedlanguages">
        <xsd:sequence>
            <xsd:element name="language" maxOccurs="unbounded" type="type-attr-language"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="type-requirements-supporteddevices">
        <xsd:sequence>
            <xsd:element name="exclude" maxOccurs="unbounded" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="type-requirements-supportedresolutions">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
            <xsd:element name="exclude" type="type-resolution"/>
            <xsd:element name="include" type="type-resolution"/>
        </xsd:choice>
        <xsd:attribute name="only-listed" type="type-yesno" use="required"/>
    </xsd:complexType>

    <xsd:simpleType name="type-attr-language">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[a-z][a-z]|[a-z][a-z]\-[A-Z][A-Z]"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="type-testinginstructions">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="type-consent">
        <xsd:sequence>
            <xsd:element name="google-android-content-guidelines" minOccurs="0" type="type-yesno"/>
            <xsd:element name="us-export-laws" minOccurs="0" type="type-yesno"/>
            <xsd:element name="slideme-agreement" minOccurs="0" type="type-yesno"/>
            <xsd:element name="free-from-third-party-copytighted-content" minOccurs="0" type="type-yesno"/>
            <xsd:element name="import-export" minOccurs="0" type="type-yesno"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="type-customersupport">
        <xsd:all>
            <xsd:element name="phone" minOccurs="0" type="xsd:string"/>
            <xsd:element name="email" type="xsd:string"/>
            <xsd:element name="website" minOccurs="0" type="xsd:string"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="type-storespecific">
        <xsd:sequence>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="skip"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="type-application-attr-distributiontype">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="alpha|beta|rollout|production"/>
        </xsd:restriction>
    </xsd:simpleType>

    <!--in-app purchases-->
    <xsd:complexType name="type-inapppurchases">
        <xsd:sequence>
            <xsd:choice maxOccurs="unbounded" minOccurs="0">
                <xsd:element name="item" type="type-in-app-item"/>
                <xsd:element name="subscription" type="type-in-app-subscription"/>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="type-in-app-base-purchase">
        <xsd:sequence>
            <xsd:element name="description" type="type-in-app-description"/>
            <xsd:element name="description-localization" maxOccurs="unbounded" minOccurs="0"
                type="type-in-app-description-localization"/>
            <xsd:element name="price" type="type-in-app-price"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="type-attr-in-app-id" use="required"/>
        <xsd:attribute name="published" default="yes" type="type-yesno"/>
    </xsd:complexType>

    <xsd:complexType name="type-in-app-subscription">
        <xsd:complexContent>
            <xsd:extension base="type-in-app-base-purchase">
                <xsd:attribute name="sub-period" type="type-attr-in-app-subscription-period" use="required"/>
                <xsd:attribute name="trial-period" type="xsd:integer" use="optional"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="type-in-app-item">
        <xsd:complexContent>
            <xsd:extension base="type-in-app-base-purchase">
                <xsd:attribute name="type" type="type-attr-in-app-item-type" use="required" />
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:simpleType name="type-attr-in-app-id">
        <xsd:restriction base="type-nonemptystring">
            <xsd:pattern value="([a-z]|[0-9]){1}[a-z0-9._]*"/>
            <xsd:maxLength value="139"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="type-attr-in-app-subscription-period">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="oneWeek|oneMonth|oneYear"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="type-in-app-description">
        <xsd:sequence>
            <xsd:element name="title" maxOccurs="unbounded" type="type-nonemptystring"/>
            <xsd:element name="text" maxOccurs="unbounded" type="type-nonemptystring"/>
            <xsd:element name="small-icon" maxOccurs="unbounded" minOccurs="0" type="type-image"/>
            <xsd:element name="large-icon" maxOccurs="unbounded" minOccurs="0" type="type-image"/>
            <xsd:element name="store-specific" maxOccurs="1" minOccurs="0" type="type-in-app-store-specific" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="type-in-app-store-specific">
        <xsd:sequence>
            <xsd:element name="amazon" maxOccurs="1" minOccurs="0" type="type-in-app-amazon" />
            <xsd:element name="slideme" maxOccurs="1" minOccurs="0" type="type-in-app-slideme" />
        </xsd:sequence>
    </xsd:complexType>

    <!--amazon-->
    <xsd:complexType name="type-in-app-amazon">
        <xsd:sequence>
            <xsd:element name="additional-file-delivered" type="type-yesno" />
            <xsd:element name="small-icon" type="type-image" />
            <xsd:element name="large-icon" type="type-image" />
            <xsd:element name="calculated-prices" type="type-yesno" />
        </xsd:sequence>
    </xsd:complexType>

    <!--slideme-->
    <xsd:complexType name="type-in-app-slideme">
        <xsd:sequence>
            <xsd:element name="test-mode" type="type-in-app-slideme-test-mode" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="type-in-app-slideme-test-mode">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="disabled|success|failure" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="type-in-app-description-localization">
        <xsd:complexContent>
            <xsd:extension base="type-in-app-description">
                <xsd:attribute name="locale" type="type-attr-in-app-locale" use="required"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:simpleType name="type-attr-in-app-locale">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[a-z][a-z]_[A-Z][A-Z]"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="type-in-app-price-local">
        <xsd:simpleContent>
            <xsd:extension base="xsd:decimal">
                <xsd:attribute name="country" type="type-attr-in-app-price-country" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:simpleType name="type-attr-in-app-price-country">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Z][A-Z]"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="type-in-app-price">
        <xsd:sequence>
            <xsd:element name="base-price" minOccurs="0" type="xsd:decimal" />
            <xsd:element name="local-price" maxOccurs="unbounded" minOccurs="0"
                type="type-in-app-price-local" />
        </xsd:sequence>
        <xsd:attribute name="free" default="no" type="type-yesno"/>
    </xsd:complexType>

    <xsd:simpleType name="type-attr-in-app-item-type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="consumable|nonconsumable"/>
        </xsd:restriction>
    </xsd:simpleType>

    <!--common types-->

    <!--human-readable boolean-->
    <xsd:simpleType name="type-yesno">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="yes|no"/>
        </xsd:restriction>
    </xsd:simpleType>

    <!--local file-->
    <xsd:simpleType name="type-localfile">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[_ a-zA-Z0-9\-\./]*"/>
        </xsd:restriction>
    </xsd:simpleType>

    <!--image-->
    <xsd:complexType name="type-image">
        <xsd:simpleContent>
            <xsd:extension base="type-localfile">
                <xsd:attribute name="width" type="xsd:positiveInteger" use="required"/>
                <xsd:attribute name="height" type="xsd:positiveInteger" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <!--resolution-->
    <xsd:simpleType name="type-resolution">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]+x[0-9]+"/>
        </xsd:restriction>
    </xsd:simpleType>

    <!--non-empty string-->
    <xsd:simpleType name="type-nonemptystring">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
